---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Helios | Contacto">
	<main class="p-4 h-[2000px]">
		<div class=" h-[1000px]">
			<h1>Hola</h1>
		</div>
	</main>
</Layout>

<style>
	
	h1 {
		font-family: 'Monteserrat-bold';
	}
</style>
