---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const cards = [
	{
		title: 'Automatización de Riego',
		description: 'Optimiza el uso de agua y energía automatizando tus sistemas de riego con energía solar, asegurando eficiencia y sostenibilidad en cada cultivo.',
		image: '/imgs/img-2.jpg',
		iconName: 'aspersor'
	},
	{
		title: 'Extracción de Agua',
		description: 'Extrae agua de pozos de forma eficiente y económica con nuestras soluciones solares.',
		image: '/imgs/img-25.jpg',
		iconName: 'water-pump'
	},
	{
		title: 'Energía Sostenible',
		description: 'Reduce tus costos energéticos y aumenta la sostenibilidad de tu negocio con energía solar.',
		image: '/imgs/img-21.jpg',
		iconName: 'solar-panel'
	},
	{
		title: 'Autoabastecimiento Energético',
		description: 'Genera y almacena tu propia energía, asegurando la independencia energética de tu finca utilizando inversores y baterías.',
		image: '/imgs/img-10.jpg',
		iconName: 'battery'
	},
	{
		title: 'Uso doméstico',
		description: 'Autoabastece tu vivienda gracias a la energía solar y vierte en la red eléctrica el excedente de energía para ahorrar en tus facturas.',
		image: '/imgs/img-17.jpg',
		iconName: 'home-electricity'
	},
	{
		title: 'Cualquier otra necesidad',
		description: 'Flexibilidad para cualquier otro tipo de instalación: riegos, balsas, tuberías, iluminación, cámaras, detectores ...',
		image: '/imgs/img-18.jpg',
		iconName: 'adapt'
	}
]

---

<Layout title="Helios">
	<main class="mt-10mx-20 p-8 ">
		<section class=" text-white py-20">
			<div class="container mx-auto flex flex-col items-center justify-center text-center px-4">
				<!-- Título Principal -->
				<h1 class="text-4xl md:text-5xl lg:text-6xl font-bold leading-tight">
					Energía Solar para Potenciar tu Agricultura
				</h1>
				<!-- Subtítulo -->
				<p class="mt-4 text-lg md:text-xl lg:text-2xl max-w-2xl">
					Soluciones solares innovadoras para automatización de riego, extracción de agua y cualquier necesidad eléctrica en el campo.
				</p>
				<!-- Llamada a la Acción -->
				<div class="mt-8">
					<a href="#contacto" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-3 px-8 rounded-lg shadow-lg transition duration-300 ease-in-out">
						Solicita presupuesto
					</a>
				</div>
		</section>
		<!-- Ejemplos de instalaciones -->
		<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{cards.map((card) => (<Card title={card.title} description={card.description} image={card.image} iconName={card.iconName} />))}
		</section>
	</main>
</Layout>

<style>
	
	h1 {
		font-family: 'Monteserrat';
	}
</style>

