---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
import { cards } from '../constants/cards';
import { items } from '../constants/items';

---

<Layout title="Helios">
	<main class="p-8 ">
		<section class=" text-white py-10 flex flex-col items-center">
			<h1 class="text-2xl mt-10 lg:mt-0 text-center md:text-5xl lg:text-6xl font-bold leading-tigh animate-fadeInUp">
				Helios Solar Fotovoltaica
			</h1>
			<h2 class="text-2xl mt-4 pb-4 text-camouflage-600 lg:mt-0 text-center md:text-5xl lg:text-6xl font-bold leading-tight animate-fadeInUp">
				Potencia tu agricultura
			</h2>
			<div class="container mx-auto mt-8 flex flex-col lg:flex-row justify-between px-4 s gap-4">
				<!-- Título Principal -->
				<img src="/imgs/logo-full.jpg" alt="Imagen de un sol" class="w-full flex rounded-t-lg transition-all duration-300 animate-fadeInRight" />
				<div class="flex flex-col ">
					<p id="typing-text" class="text-2xl md:text-xl lg:text-2xl max-w-2xl text-center">
						Instalaciones solares innovadoras y automatizadas para 
						<span class="text-camouflage-500">
								agilizar, facilitar, economizar y potenciar
						</span> 
						tus actividades agrícolas,
					</p>
						<ul class="space-y-4 mt-4">
							{items.map((item, index) => (
								<li 
									class="p-4 rounded-lg shadow-md transform transition-all duration-300 animate-fadeInLeft"
									style={`animation-delay: ${index * 0.2}s;`} 
								>
									<div class="flex items-center gap-3 mb-2">
											<Icon name={item.iconName} size={32} color={item.iconColor} />
										<p class="text-gray-800 text-sm leading-relaxed">{item.content}</p>
									</div>
								</li>
							))}
						</ul>
						<div class="mt-8 flex flex-col items-center place-self-center">
							<a href="#contacto" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-3 px-8 rounded-lg shadow-lg transition duration-300 ease-in-out">
								Solicita presupuesto
							</a>
						</div>
				</div>
			</div>
			
			<!-- Llamada a la Acción -->
		</section>
		<hr class="mb-10 border rounded-full shadow-on border-camouflage-800" />
		<!-- Ejemplos de instalaciones -->
		<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{cards.map((card) => (<Card {...card} />))}
		</section>
		<hr class="mt-20 border rounded-full shadow-on border-camouflage-800" />
	</main>
</Layout>

<style>
	
	h1 {
		font-family: 'Montserrat-Bold';
	}
	p {
		font-family: 'Montserrat';
	}
	li {
		@apply font-bold flex items-center p-3 bg-camouflage-50 text-camouflage-900 rounded-md shadow-md transform transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:bg-camouflage-100;
	}
	.icon {
		@apply  text-2xl mr-3;
	}


</style>

