---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Helios">
	<main class="mt-20 mx-20 p-4 ">
		<section>
			<h1 class="text-5xl font-bold text-center text-camouflage-600">HELIOS SOLAR FOTOVOLTÁICA</h1>
			<p class="text-xl">			
	</section>
	</main>
</Layout>

<style>
	
	h1 {
		font-family: 'Monteserrat-bold';
	}
</style>

